In [9]:
import os
import sqlite3
import pandas as pd

loading_dir = "/mnt/ns01/data/loading"

In [10]:
db_files = os.listdir(loading_dir)
db_files

['journeys_nzta_20241009140303.db',
 'journeys_nzta_20240903170309.db',
 'journeys_nzta_20240831010304.db',
 'journeys_nzta_20240914060302.db',
 "'rss_20240427205101.db'",
 'rss_20240427205101.db',
 'openweathermap_20240809003539.db',
 'journeys_nzta_20240723010309.db',
 'openweathermap_20240914014710.db',
 'journeys_nzta_20240922160304.db',
 'journeys_nzta_20241009080314.db',
 'journeys_nzta_20240726230303.db',
 'journeys_nzta_20240930120303.db',
 'openweathermap_20240914015505.db',
 'openweathermap_20240722075219.db',
 'rss_20240617091142.db',
 'journeys_nzta_20240823170304.db',
 "'journeys_nzta_20240820020304.db'",
 'journeys_nzta_20240619120303.db',
 'journeys_nzta_20241007100303.db',
 'journeys_nzta_20240827090304.db',
 'journeys_nzta_20240816090303.db',
 'journeys_nzta_20240807020311.db',
 'journeys_nzta_20240914040302.db',
 'openweathermap_20240806203040.db',
 'openweathermap_20240919125332.db',
 'journeys_nzta_20240930020304.db',
 'journeys_nzta_20240928030303.db',
 'journeys_nzta_20240812160303.db',
 'journeys_nzta_20240914014747.db',
 'openweathermap_20240725175640.db',
 'journeys_nzta_20240922180303.db',
 'openweathermap_20240615090425.db',
 'journeys_nzta_20240615090451.db',
 'journeys_nzta_20240907100303.db',
 'journeys_nzta_20240920140309.db',
 'journeys_nzta_20240820020304.db']

In [11]:
# Connect to the SQLite database
conn = sqlite3.connect(os.path.join(loading_dir, "journeys_nzta_20240820020304.db"))

# Create a cursor object
cursor = conn.cursor()

# List all tables in the database
cursor.execute("""
    SELECT name, sql 
    FROM sqlite_master 
    WHERE type='table'
""")

# Fetch all rows returned by the query
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])

cameras
sqlite_sequence
chargers
chargers_access_locations
chargers_connectors
chargers_regions

In [12]:
# Create a cursor object
cursor = conn.cursor()

# Specify the table name
table_name = 'cameras'

# Execute a PRAGMA statement to get the table structure
cursor.execute(f"""
    PRAGMA table_info([{table_name}])
""")

# Fetch all rows returned by the query
columns = cursor.fetchall()

# Print the column information
for column in columns:
    print(f"Column Name: {column[1]}")
    print(f"Data Type: {column[2]}")
    print(f"Not Null: {'Yes' if column[3] == 1 else 'No'}")
    print(f"Default Value: {column[4]}")
    print(f"Primary Key: {'Yes' if column[5] == 1 else 'No'}")
    print("---")

Column Name: id
Data Type: INTEGER
Not Null: No
Default Value: None
Primary Key: Yes
---
Column Name: class_name
Data Type: TEXT
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: last_edited
Data Type: TEXT
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: created
Data Type: TEXT
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: external_id
Data Type: INTEGER
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: name
Data Type: TEXT
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: description
Data Type: TEXT
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: offline
Data Type: INTEGER
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: under_maintenance
Data Type: INTEGER
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: image_url
Data Type: TEXT
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: latitude
Data Type: TEXT
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: longitude
Data Type: TEXT
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: direction
Data Type: TEXT
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: sort_group
Data Type: TEXT
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: tas_journey_id
Data Type: INTEGER
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: region_id
Data Type: INTEGER
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: tas_region_id
Data Type: INTEGER
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: property_id
Data Type: INTEGER
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: uniq
Data Type: TEXT
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: property_type
Data Type: TEXT
Not Null: No
Default Value: None
Primary Key: No
---
Column Name: last_updated
Data Type: INTEGER
Not Null: No
Default Value: None
Primary Key: No
---

In [13]:
df = pd.read_sql('SELECT * FROM cameras', conn, index_col='id')
df.head()

,class_name,last_edited,created,external_id,name,description,offline,under_maintenance,image_url,latitude,longitude,direction,sort_group,tas_journey_id,region_id,tas_region_id,property_id,uniq,property_type,last_updated
id,,,,,,,,,,,,,,,,,,,,
1,TrafficCamera,2024-06-11 07:17:37,2023-03-17 11:26:59,816,SH73 West Melton West,West along West Coast Rd at Weedons Ross Junction,0,0,https://www.trafficnz.info/camera/816.jpg,-43.52397,172.369896,Westbound,NA,88,21,11,1543,Camera-1543,cameras,1718047057
2,TrafficCamera,2024-06-11 07:17:37,2023-03-17 11:30:49,817,SH73 West Melton East,East along West Coast Rd at Weedons Ross Junction,0,0,https://www.trafficnz.info/camera/817.jpg,-43.52407,172.369776,Eastbound,NA,88,21,11,1544,Camera-1544,cameras,1718047057
3,TrafficCamera,2024-05-09 11:56:42,2016-11-09 15:44:12,597,SH1 Rolleston,South along Main South Rd from Hoskyns Rd,0,0,https://www.trafficnz.info/camera/597.jpg,-43.587996,172.385782,Southbound,NA,86,21,11,1081,Camera-1081,cameras,1715212602
4,TrafficCamera,2024-08-18 16:10:37,2016-11-09 15:44:12,617,Southbrook North,North along Southbrook Rd from Southbrook Reta...,1,0,https://www.trafficnz.info/camera/617.jpg,-43.32437,172.59879,Northbound,NA,0,21,11,1082,Camera-1082,cameras,1723954237
5,TrafficCamera,2024-05-09 10:56:44,2016-11-09 15:44:12,628,SH1 Rakaia Bridge North,South along Rakaia Bridge on SH1,0,0,https://www.trafficnz.info/camera/628.jpg,-43.73792,172.04519,Southbound,NA,86,21,11,1083,Camera-1083,cameras,1715209004

In [14]:
df.external_id.value_counts().count()

np.int64(320)

In [15]:
df.external_id.count()

np.int64(913)

In [18]:
all_groups = df['external_id'].unique()
grouped_counts = df.groupby('external_id').size().reindex(all_groups, fill_value=0)

external_id
816    1
817    1
597    1
617    1
628    1
      ..
730    2
731    6
724    1
801    1
802    1
Length: 320, dtype: int64

In [19]:
df[df['external_id'] == 731]

,class_name,last_edited,created,external_id,name,description,offline,under_maintenance,image_url,latitude,longitude,direction,sort_group,tas_journey_id,region_id,tas_region_id,property_id,uniq,property_type,last_updated
id,,,,,,,,,,,,,,,,,,,,
317,TrafficCamera,2024-08-20 06:21:42,2019-05-02 09:12:08,731,SH80 Aoraki Mt Cook Hwy,North along SH80 from SH80/SH8 Pukaki Junction,0,0,https://www.trafficnz.info/camera/731.jpg,-44.187562,170.12378,Northbound,SH80,96,21,11,1466,Camera-1466,cameras,1724091702
3197,TrafficCamera,2024-08-20 22:35:44,2019-05-02 09:12:08,731,SH80 Aoraki Mt Cook Hwy,North along SH80 from SH80/SH8 Pukaki Junction,1,0,https://www.trafficnz.info/camera/731.jpg,-44.187562,170.12378,Northbound,SH80,96,21,11,1466,Camera-1466,cameras,1724150144
5437,TrafficCamera,2024-08-21 05:57:35,2019-05-02 09:12:08,731,SH80 Aoraki Mt Cook Hwy,North along SH80 from SH80/SH8 Pukaki Junction,0,0,https://www.trafficnz.info/camera/731.jpg,-44.187562,170.12378,Northbound,SH80,96,21,11,1466,Camera-1466,cameras,1724176655
19837,TrafficCamera,2024-08-23 02:54:37,2019-05-02 09:12:08,731,SH80 Aoraki Mt Cook Hwy,North along SH80 from SH80/SH8 Pukaki Junction,1,0,https://www.trafficnz.info/camera/731.jpg,-44.187562,170.12378,Northbound,SH80,96,21,11,1466,Camera-1466,cameras,1724338477
21117,TrafficCamera,2024-08-23 06:19:39,2019-05-02 09:12:08,731,SH80 Aoraki Mt Cook Hwy,North along SH80 from SH80/SH8 Pukaki Junction,0,0,https://www.trafficnz.info/camera/731.jpg,-44.187562,170.12378,Northbound,SH80,96,21,11,1466,Camera-1466,cameras,1724350779
26557,TrafficCamera,2024-08-24 00:00:54,2019-05-02 09:12:08,731,SH80 Aoraki Mt Cook Hwy,North along SH80 from SH80/SH8 Pukaki Junction,1,0,https://www.trafficnz.info/camera/731.jpg,-44.187562,170.12378,Northbound,SH80,96,21,11,1466,Camera-1466,cameras,1724414454

In [19]:

# Close the connection
conn.close()